<?xml version="1.0"?>
<config>
    <modules>
        <LitExtension_AjaxLogin>
            <version>1.0.1</version>
        </LitExtension_AjaxLogin>
    </modules>

    <global>
        <models>
            <ajaxlogin>
                <class>LitExtension_AjaxLogin_Model</class>
            </ajaxlogin>
        </models>
        <blocks>
            <ajaxlogin>
                <class>LitExtension_AjaxLogin_Block</class>
            </ajaxlogin>
        </blocks>
        <helpers>
            <ajaxlogin>
                <class>LitExtension_AjaxLogin_Helper</class>
            </ajaxlogin>
        </helpers>
        <resources>
            <ajaxlogin_setup>
                <setup>
                    <module>LitExtension_AjaxLogin</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxlogin_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <ajaxlogin>
                <use>admin</use>
                <args>
                    <module>LitExtension_AjaxLogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </ajaxlogin>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <LitExtension_Ajaxlogin>
                    <files>
                        <default>LitExtension_AjaxLogin.csv</default>
                    </files>
                </LitExtension_Ajaxlogin>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <routers>
            <litextension_ajaxlogin>
                <use>standard</use>
                <args>
                    <module>LitExtension_AjaxLogin</module>
                    <frontName>leajaxlogin</frontName>
                </args>
            </litextension_ajaxlogin>
            <ajaxlogin>
                <args>
                    <modules>
                        <litextension_ajaxlogin before="Mage_Customer">LitExtension_AjaxLogin</litextension_ajaxlogin>
                    </modules>
                </args>
            </ajaxlogin>
        </routers>
        <layout>
            <updates>
                <litextension_ajaxlogin>
                    <file>le_ajaxlogin.xml</file>
                </litextension_ajaxlogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <litextension_ajaxlogin>
                    <files>
                        <default>LitExtension_AjaxLogin.csv</default>
                    </files>
                </litextension_ajaxlogin>
            </modules>
        </translate>
    </frontend>

    <default>
        <ajaxlogin>
            <ajaxlogin>
                <enable>1</enable>
                <enablemenu>1</enablemenu>
                <enableolay>1</enableolay>
                <position>0</position>
                <themes>simple</themes>
            </ajaxlogin>
        </ajaxlogin>
    </default>
</config>