<?xml version="1.0"?>
<!--
/**
 * GoodReads Book Reviews
 * 
 * Replace Magento Reviews system with GoodReads Book Reviews
 * 
 * @license 	http://opensource.org/licenses/gpl-license.php GNU General Public License, Version 3
 * @copyright	Steven Brown May 16, 2016
 * @author		Steven Brown <steveb.27@outlook.com>
 */
-->
<config>
    <modules>
        <SteveB27_GoodReads>
            <version>0.1.2</version>
        </SteveB27_GoodReads>
    </modules>
    <global>
        <resources>
            <goodreads_setup>
                <setup>
                    <module>SteveB27_GoodReads</module>
                    <class>SteveB27_GoodReads_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </goodreads_setup>
            <goodreads_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </goodreads_write>
            <goodreads_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </goodreads_read>
        </resources>
        <blocks>
            <goodreads>
                <class>SteveB27_GoodReads_Block</class>
            </goodreads>
            <review>
                <rewrite>
                    <product_view_list>SteveB27_GoodReads_Block_Review_Product_View_list</product_view_list>
                </rewrite>
            </review>
        </blocks>
        <helpers>
            <goodreads>
                <class>SteveB27_GoodReads_Helper</class>
            </goodreads>
        </helpers>
        <models>
            <goodreads>
                <class>SteveB27_GoodReads_Model</class>
                <resourceModel>goodreads_resource</resourceModel>
            </goodreads>
            <goodreads_resource>
                <class>SteveB27_GoodReads_Model_Resource</class>
                <entities>
                    <review>
                        <table>goodreads_review</table>
                    </review>
                </entities>
            </goodreads_resource>
            <review>
                <rewrite>
                    <review>SteveB27_GoodReads_Model_Review</review>
                </rewrite>
            </review>
            <review_resource>
                <rewrite>
                    <review>SteveB27_GoodReads_Model_Resource_Review</review>
                </rewrite>
            </review_resource>
        </models>
        <events>
            <catalog_controller_product_init_after>
                <observers>
                    <goodreads>
                        <class>goodreads/observer</class>
                        <method>catalogControllerProductInitAfter</method>
                    </goodreads>
                </observers>
            </catalog_controller_product_init_after>
        </events>
    </global>
    <crontab>
        <jobs>
            <goodreads>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>goodreads/cron::updateAll</model>
                </run>
            </goodreads>
        </jobs>
    </crontab>
    <frontend>
        <layout>
            <updates>
                <goodreads>
                    <file>goodreads.xml</file>
                </goodreads>
            </updates>
        </layout>
        <translate>
            <modules>
                <SteveB27_GoodReads>
                    <files>
                        <default>goodreads.csv</default>
                    </files>
                </SteveB27_GoodReads>
            </modules>
        </translate>
        <routers>
            <goodreads>
                <use>standard</use>
                <args>
                    <module>SteveB27_GoodReads</module>
                    <frontName>goodreads</frontName>
                </args>
            </goodreads>
        </routers>
    </frontend>
</config>