<?xml version="1.0"?>
<config>
  <modules>
    <Dextrous_Membership>
      <version>0.1.0</version>
    </Dextrous_Membership>
  </modules>
	<frontend>
        <routers>
            <membership>
                <use>standard</use>
                <args>
                    <module>Dextrous_Membership</module>
                    <frontName>membership</frontName>
                </args>
            </membership>
        </routers>
	</frontend>
	<global>
		<helpers>
		  <membership>
			<class>Dextrous_Membership_Helper</class>
		  </membership>
		</helpers>
		<models>
		  <membership>
			<class>Dextrous_Membership_Model</class>
			<resourceModel>membership_mysql4</resourceModel>
		  </membership>
		</models>
		<events>
		  <sales_order_place_after> <!-- identifier of the event we want to catch -->
			<observers>
			  <sales_order_place_after_handler> <!-- identifier of the event handler -->
				<type>model</type> <!-- class method call type; valid are model, object and singleton -->
				<class>membership/observer</class> <!-- observers class alias -->
				<method>placeOrderAfter</method>  <!-- observer's method to be called -->
				<args></args> <!-- additional arguments passed to observer -->
			  </sales_order_place_after_handler>
			</observers>
		  </sales_order_place_after>
		</events>
	</global>
</config> 