<?xml version="1.0"?>
<config>
    <modules>
        <Entangled_RestCatalog>
            <version>0.1.0</version>
        </Entangled_RestCatalog>
    </modules>
    <global>
        <helpers>
            <entangled_restcatalog>
                <class>Entangled_RestCatalog_Helper</class>
            </entangled_restcatalog>
        </helpers>
        <blocks>
            <entangled_restcatalog>
                    <class>Entangled_RestCatalog_Block</class>
            </entangled_restcatalog>
            <amshopby>
                <rewrite>
                    <catalog_layer_view>Entangled_RestCatalog_Block_Rewrite_Shopby_Catalog_Layer_View</catalog_layer_view>
                </rewrite>
            </amshopby>
        </blocks>
        <!--<models>-->
            <!--<amshopby>-->
                <!--<rewrite>-->
                    <!--<url_builder>Entangled_RestCatalog_Model_Rewrite_Shopby_Url_Builder</url_builder>-->
                <!--</rewrite>-->
            <!--</amshopby>-->
        <!--</models>-->
    </global>
    <frontend>
        <layout>
            <updates>
                <entangled_restcatalog>
                    <file>entangled_restcatalog.xml</file>
                </entangled_restcatalog>
            </updates>
        </layout>
        <routers>
            <entangled_restcatalog>
                <use>standard</use>
                <args>
                    <module>Entangled_RestCatalog</module>
                    <frontName>restcatalog</frontName>
                </args>
            </entangled_restcatalog>
        </routers>
    </frontend>
</config>