<?xml version="1.0"?>
<config>
    <modules>
        <Entangled_Reports>
            <version>0.1.0</version>
        </Entangled_Reports>
    </modules>
    <global>
        <models>
            <entangled_reports>
                <class>Entangled_Reports_Model</class>
                <resourceModel>entangled_reports_resource</resourceModel>
            </entangled_reports>
            <entangled_reports_resource>
                <class>Entangled_Reports_Model_Resource</class>
            </entangled_reports_resource>
        </models>
        <blocks>
            <entangled_reports>
                <class>Entangled_Reports_Block</class>
            </entangled_reports>
        </blocks>
        <helpers>
            <entangled_reports>
                <class>Entangled_Reports_Helper</class>
            </entangled_reports>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <entangled_reports before="Mage_Adminhtml">Entangled_Reports_Adminhtml</entangled_reports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <entangled_reports>
                    <file>entangled_reports.xml</file>
                </entangled_reports>
            </updates>
        </layout>
    </adminhtml>
</config>