/**
 * Generic interface elements
 */



/* Owl Carousel %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Generic arrows 1
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-arrows1 .owl-controls .owl-buttons { position:absolute; }
.slider-arrows1 .owl-controls .owl-buttons div {
	float:left;
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	overflow:hidden;
	text-indent:-9999px;
	background-image:url(../../../images/infortis/_shared/generic-nav/slider-arrows.png);
	background-repeat:no-repeat;
	background-color:#e5e5e5;
	transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.slider-arrows1 .owl-controls.clickable .owl-buttons div:hover { background-color:#333; }
.slider-arrows1 .owl-controls			.owl-buttons div.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
.slider-arrows1 .owl-controls.clickable .owl-buttons div.disabled:hover { background-color:#e5e5e5; /* Must be the same as default color */ }

.slider-arrows1 .owl-controls 			.owl-buttons .owl-prev					{ background-position:-10px -10px; margin-right:1px; }
.slider-arrows1 .owl-controls.clickable .owl-buttons .owl-prev:hover			{ background-position:-10px -60px; }
.slider-arrows1 .owl-controls.clickable .owl-buttons .owl-prev.disabled:hover	{ background-position:-10px -10px; /* Same as default */ }

.slider-arrows1 .owl-controls 			.owl-buttons .owl-next					{ background-position:-60px -10px; }
.slider-arrows1 .owl-controls.clickable .owl-buttons .owl-next:hover			{ background-position:-60px -60px; }
.slider-arrows1 .owl-controls.clickable .owl-buttons .owl-next.disabled:hover	{ background-position:-60px -10px; /* Same as default */ }

/* Position */
.slider-arrows1-pos-top-right .owl-controls .owl-buttons { top:-40px; right:0px; }
.slider-arrows1-pos-top-left  .owl-controls .owl-buttons { top:-40px; left:0px; }


/* Generic arrows 2
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-arrows2 .owl-controls .owl-buttons div {
	position:absolute;
	display:block;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	overflow:hidden;
	text-indent:-9999px;
	background-image:url(../../../images/infortis/_shared/generic-nav/slider-arrows.png);
	background-repeat:no-repeat;
	background-color:#fff;
	transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	
	opacity:0;
	filter:alpha(opacity=0);
}
.slider-arrows2:hover .owl-controls .owl-buttons div { opacity:1; filter:alpha(opacity=100); }

.slider-arrows2 .owl-controls.clickable .owl-buttons div:hover { background-color:#000; }
.slider-arrows2 .owl-controls			.owl-buttons .owl-prev			{ background-position:-2px 0; left:0; top:46%; }
.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-prev:hover	{ background-position:-2px -50px; }
.slider-arrows2 .owl-controls			.owl-buttons .owl-next			{ background-position:-48px 0; right:0; top:46%; }
.slider-arrows2 .owl-controls.clickable .owl-buttons .owl-next:hover	{ background-position:-48px -50px; }


/* Generic arrows 3
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-arrows3 .owl-controls .owl-buttons div {
	position:absolute;
	display:block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	overflow:hidden;
	text-indent:-9999px;
	background-image:url(../../../images/infortis/_shared/generic-nav/slider-arrows.png);
	background-repeat:no-repeat;
	background-color:#fff;
	transition:			opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
}

.slider-arrows3 .owl-controls.clickable .owl-buttons div:hover { background-color:#000; }
.slider-arrows3 .owl-controls			.owl-buttons div.disabled { opacity:0.4; filter:alpha(opacity=40); cursor:default; }
.slider-arrows3 .owl-controls.clickable .owl-buttons div.disabled:hover { background-color:#fff; /* Must be the same as default color */ }

.slider-arrows3 .owl-controls			.owl-buttons .owl-prev					{ background-position:-10px -10px; top:30%; left:-32px; }
.slider-arrows3 .owl-controls.clickable .owl-buttons .owl-prev:hover			{ background-position:-10px -60px; }
.slider-arrows3 .owl-controls.clickable .owl-buttons .owl-prev.disabled:hover	{ background-position:-10px -10px; /* Same as default */ }

.slider-arrows3 .owl-controls			.owl-buttons .owl-next					{ background-position:-60px -10px; top:30%; right:-32px; }
.slider-arrows3 .owl-controls.clickable .owl-buttons .owl-next:hover			{ background-position:-60px -60px; }
.slider-arrows3 .owl-controls.clickable .owl-buttons .owl-next.disabled:hover	{ background-position:-60px -10px; /* Same as default */ }


/* Generic pagination 1
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-pagination1 .owl-controls .owl-page {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.slider-pagination1 .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 7px 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#eee;
	transition:			background-color 300ms ease-in-out;
	-moz-transition:	background-color 300ms ease-in-out;
	-webkit-transition:	background-color 300ms ease-in-out;
	-o-transition:		background-color 300ms ease-in-out;
}
.slider-pagination1 .owl-controls.clickable .owl-page:hover span { background-color:#000; }
.slider-pagination1 .owl-controls .owl-page.active span { background-color:#ccc; }


/* Generic pagination 2
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.slider-pagination2 .owl-controls .owl-page {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.slider-pagination2 .owl-controls .owl-page span {
	display: block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	width:10px;
	height:10px;
	margin:8px;
	transition:			background-color 300ms ease-in-out;
	-moz-transition:	background-color 300ms ease-in-out;
	-webkit-transition:	background-color 300ms ease-in-out;
	-o-transition:		background-color 300ms ease-in-out;
/*	transition:			width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out, background-color 300ms ease-in-out;
	-moz-transition:	width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out, background-color 300ms ease-in-out;
	-webkit-transition:	width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out, background-color 300ms ease-in-out;
	-o-transition:		width 300ms ease-in-out, height 300ms ease-in-out, margin 300ms ease-in-out, background-color 300ms ease-in-out;*/
}
.slider-pagination2 .owl-controls.clickable .owl-page:hover span,
.slider-pagination2 .owl-controls .owl-page.active span {
	width:16px;
	height:16px;
	margin:5px;
}
.slider-pagination2 .owl-controls .owl-page.active {
	cursor:default;
}


/* Pagination position
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.pagination-pos-bottom-centered							{ padding-bottom: 50px; /* Additional space for bottom pagination */ }
.pagination-pos-bottom-centered 		.owl-pagination { padding: 10px 0; text-align: center; position: absolute; width: 100%; }
.pagination-pos-bottom-right 			.owl-pagination { padding: 10px 0; float: right; }
.pagination-pos-bottom-left 			.owl-pagination { padding: 10px 0; float: left; }

/* Over the slider */
.pagination-pos-over-bottom-centered	.owl-pagination { text-align: center; margin-top: -35px; position: absolute; width: 100%; }
.pagination-pos-over-bottom-right		.owl-pagination { position:absolute; bottom:3.5%; right:1.5%; }
.pagination-pos-over-bottom-left		.owl-pagination { position:absolute; bottom:3.5%; left:1.5%; }
