<?xml version="1.0"?>
<config>
    <modules>
        <Idev_OneStepCheckout>
            <version>4.5.5</version>
        </Idev_OneStepCheckout>
    </modules>
    <frontend>
        <secure_url>
          <onestepcheckout>/onestepcheckout</onestepcheckout>
        </secure_url>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <onestepcheckout_save_customercomment>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Helper_Data</class>
                        <method>setCustomerComment</method>
                    </onestepcheckout_save_customercomment>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_quote_collect_totals_before>
                <observers>
                    <onestepcheckout_set_address_defaults>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_PresetDefaults</class>
                        <method>setDefaults</method>
                    </onestepcheckout_set_address_defaults>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_collect_totals_after>
                <observers>
                    <onestepcheckout_set_shipping_defaults>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_PresetDefaults</class>
                        <method>setShippingIfDifferent</method>
                    </onestepcheckout_set_shipping_defaults>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_quote_save_before>
                <observers>
                    <onestepcheckout_set_deliverydate>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_Deliverydate</class>
                        <method>setDeliverydate</method>
                    </onestepcheckout_set_deliverydate>
                </observers>
            </sales_quote_save_before>
            <customer_login>
                <observers>
                    <onestepcheckout_set_shipping_defaults_on_login>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_PresetDefaults</class>
                        <method>setDefaultsOnLogin</method>
                    </onestepcheckout_set_shipping_defaults_on_login>
                </observers>
            </customer_login>
            <controller_action_layout_render_before_onestepcheckout_index_index>
                <observers>
                    <onestepcheckout_check_valid>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Helper_Data</class>
                        <method>checkValid</method>
                    </onestepcheckout_check_valid>
                    <onestepcheckout_compare_address_defaults>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_PresetDefaults</class>
                        <method>compareDefaultsFromCart</method>
                    </onestepcheckout_compare_address_defaults>
                </observers>
            </controller_action_layout_render_before_onestepcheckout_index_index>
            <controller_action_predispatch_paypal_express_return>
                <observers>
                    <onestepcheckout_skip_paypal_preview>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_PaypalExpress</class>
                        <method>skipPaypalPreview</method>
                    </onestepcheckout_skip_paypal_preview>
                </observers>
            </controller_action_predispatch_paypal_express_return>
            <controller_action_predispatch_paypal_express_placeOrder>
                <observers>
                    <onestepcheckout_skip_paypal_terms>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_PaypalExpress</class>
                        <method>agreePaypalTerms</method>
                    </onestepcheckout_skip_paypal_terms>
                </observers>
            </controller_action_predispatch_paypal_express_placeOrder>
            <controller_action_predispatch_paypal_express_placeorder>
                <observers>
                    <onestepcheckout_skip_paypal_terms_lc>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_PaypalExpress</class>
                        <method>agreePaypalTerms</method>
                    </onestepcheckout_skip_paypal_terms_lc>
                </observers>
            </controller_action_predispatch_paypal_express_placeorder>
        </events>
        <routers>
            <onestepcheckout>
                <use>standard</use>
                <args>
                    <module>Idev_OneStepCheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
            <checkout>
                <args>
                    <modules>
                        <Idev_OneStepCheckout before="Mage_Checkout">Idev_OneStepCheckout</Idev_OneStepCheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <OneStepCheckout module="Idev_OneStepCheckout">
                    <file>onestepcheckout.xml</file>
                </OneStepCheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Idev_OneStepCheckout>
                    <files>
                        <default>Idev_OneStepCheckout.csv</default>
                    </files>
                </Idev_OneStepCheckout>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onestepcheckout>
                                            <title>OneStepCheckout section</title>
                                        </onestepcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch_adminhtml_sales_order_create_save>
                <observers>
                    <onestepcheckout_save_customercomment_admin>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Helper_Data</class>
                        <method>setCustomerCommentAdmin</method>
                    </onestepcheckout_save_customercomment_admin>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_save>
            <core_block_abstract_to_html_after>
                <observers>
                    <onestepcheckout_adminhtml>
                        <type>singleton</type>
                        <class>Idev_OneStepCheckout_Model_Observers_Deliverydate</class>
                        <method>getDeliverydate</method>
                    </onestepcheckout_adminhtml>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_submit_all_after>
                <observers>
                    <onestepcheckout_set_deliverydate>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_Deliverydate</class>
                        <method>setDeliverydateAdmin</method>
                    </onestepcheckout_set_deliverydate>
                </observers>
            </checkout_submit_all_after>
            <init_from_order_session_quote_initialized>
                <observers>
                    <onestepcheckout_move_deliverydate>
                        <type>model</type>
                        <class>Idev_OneStepCheckout_Model_Observers_Deliverydate</class>
                        <method>moveDeliverydateAdmin</method>
                    </onestepcheckout_move_deliverydate>
                </observers>
            </init_from_order_session_quote_initialized>
        </events>
    </adminhtml>
    <global>
        <models>
            <onestepcheckout>
                <class>Idev_OneStepCheckout_Model</class>
            </onestepcheckout>
            <sales>
                <rewrite>
                    <quote>Idev_OneStepCheckout_Model_Sales_Quote</quote>
                </rewrite>
            </sales>
            <!-- paypal>
                <rewrite>
                    <config>Idev_OneStepCheckout_Model_Paypal_Config</config>
                </rewrite>
            </paypal--> 
        </models>
        <resources>
            <onestepcheckout_setup>
                <setup>
                    <module>Idev_OneStepCheckout</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onestepcheckout_setup>
        </resources>
        <blocks>
            <onestepcheckout>
                 <class>Idev_OneStepCheckout_Block</class>
            </onestepcheckout>
            <checkout>
                <rewrite>
                    <onepage_link>Idev_OneStepCheckout_Block_Checkout_Onepage_Link</onepage_link>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <links>Idev_OneStepCheckout_Block_Checkout_Links</links>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <cart_sidebar>Idev_OneStepCheckout_Block_Checkout_Cart_Sidebar</cart_sidebar>
                </rewrite>
            </checkout>
            <checkout>
                <rewrite>
                    <cart>Idev_OneStepCheckout_Block_Checkout_Cart</cart>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_view_items>Idev_OneStepCheckout_Block_Adminhtml_Sales_Order_View_Comment</sales_order_view_items>
                </rewrite>
                <rewrite>
                    <sales_order_create_comment>Idev_OneStepCheckout_Block_Adminhtml_Sales_Order_Create_Comment</sales_order_create_comment>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <onestepcheckout><class>Idev_OneStepCheckout_Helper</class></onestepcheckout>
            <checkout>
                <rewrite>
                    <url>Idev_OneStepCheckout_Helper_Url</url>
                </rewrite>
            </checkout>
        </helpers>
        <fieldsets>
            <sales_convert_quote>
                <onestepcheckout_customercomment>
                    <to_order>*</to_order>
                </onestepcheckout_customercomment>
                <onestepcheckout_customerfeedback>
                    <to_order>*</to_order>
                </onestepcheckout_customerfeedback>
                <iosc_ddate>
                    <to_order>*</to_order>
                </iosc_ddate>
                <iosc_ddate_slot>
                    <to_order>*</to_order>
                </iosc_ddate_slot>
                <iosc_dnote>
                    <to_order>*</to_order>
                </iosc_dnote>
            </sales_convert_quote>
            <sales_convert_order>
                <onestepcheckout_customercomment>
                    <to_quote>*</to_quote>
                </onestepcheckout_customercomment>
                <onestepcheckout_customerfeedback>
                    <to_quote>*</to_quote>
                </onestepcheckout_customerfeedback>
                <iosc_ddate>
                    <to_quote>*</to_quote>
                </iosc_ddate>
                <iosc_ddate_slot>
                    <to_quote>*</to_quote>
                </iosc_ddate_slot>
                <iosc_dnote>
                    <to_quote>*</to_quote>
                </iosc_dnote>
            </sales_convert_order>
            <sales_copy_order>
                <onestepcheckout_customercomment>
                    <to_edit>*</to_edit>
                </onestepcheckout_customercomment>
                <onestepcheckout_customerfeedback>
                    <to_edit>*</to_edit>
                </onestepcheckout_customerfeedback>
                <iosc_ddate>
                    <to_edit>*</to_edit>
                </iosc_ddate>
                <iosc_ddate_slot>
                    <to_edit>*</to_edit>
                </iosc_ddate_slot>
                <iosc_dnote>
                    <to_edit>*</to_edit>
                </iosc_dnote>
            </sales_copy_order>
        </fieldsets>
    </global>
    <default>
        <onestepcheckout>
            <general>
                <rewrite_checkout_links>0</rewrite_checkout_links>
                <default_country></default_country>
                <default_shipping_method></default_shipping_method>
                <hide_shipping_method>0</hide_shipping_method>
                <default_payment_method></default_payment_method>
                <hide_payment_method>0</hide_payment_method>
                <enable_gift_messages>0</enable_gift_messages>
                <hide_nonfree_payment_methods>0</hide_nonfree_payment_methods>
                <show_custom_options>0</show_custom_options>
                <enable_geoip>0</enable_geoip>
                <enable_newsletter>1</enable_newsletter>
                <enable_terms>0</enable_terms>
                <enable_different_shipping>1</enable_different_shipping>
                <enable_different_shipping_hide>1</enable_different_shipping_hide>
                <checkout_title>Checkout</checkout_title>
                <checkout_description>Welcome to the checkout. Fill in the fields below to complete your purchase!</checkout_description>
                <skin>generic</skin>
                <display_tax_included>1</display_tax_included>
                <redirect_to_cart>0</redirect_to_cart>
            </general>
            <exclude_fields>
                <exclude_country_id>0</exclude_country_id>
                <exclude_city>0</exclude_city>
                <exclude_telephone>0</exclude_telephone>
                <exclude_company>0</exclude_company>
                <exclude_fax>0</exclude_fax>
                <exclude_region>0</exclude_region>
                <exclude_zip>0</exclude_zip>
                <exclude_address>0</exclude_address>
                <enable_comments>0</enable_comments>
                <enable_newsletter>0</enable_newsletter>
                <newsletter_default_checked>1</newsletter_default_checked>
                <enable_discount>0</enable_discount>
            </exclude_fields>
            <sortordering_fields>
                <firstname>1</firstname>
                <lastname>2</lastname>
                <email>3</email>
                <telephone>4</telephone>
                <street>5</street>
                <country_id>6</country_id>
                <region_id>9</region_id>
                <city>7</city>
                <postcode>8</postcode>
                <company>10</company>
                <fax>11</fax>
                <taxvat>12</taxvat>
                <dob>13</dob>
                <gender>14</gender>
                <create_account>15</create_account>
                <password>16</password>
                <confirm_password>17</confirm_password>
                <save_in_address_book>18</save_in_address_book>
            </sortordering_fields>
            <feedback>
                <enable_feedback>0</enable_feedback>
                <enable_feedback_freetext>0</enable_feedback_freetext>
                <feedback_values></feedback_values>
            </feedback>
            <ajax_update>
                <enable_ajax_save_billing>1</enable_ajax_save_billing>
                <ajax_save_billing_fields>country,postcode</ajax_save_billing_fields>
                <enable_update_payment_on_shipping>1</enable_update_payment_on_shipping>
            </ajax_update>
            <registration>
                <registration_mode>allow_guest</registration_mode>
                <registration_order_without_password>0</registration_order_without_password>
            </registration>
            <addressreview>
                <billing_template><![CDATA[#{billing:firstname} #{billing:lastname}<br />#{billing:email}<br />#{billing:company}<br />#{billing:street1}<br />#{billing:street2}<br />#{billing:city},  #{billing:region}, #{billing:postcode}<br />#{billing:country_id}<br />T: #{billing:telephone} ]]></billing_template>
                <shipping_template><![CDATA[#{shipping:firstname} #{shipping:lastname}<br />#{shipping:email}<br />#{shipping:street1}<br />#{shipping:street2}<br />#{shipping:city},  #{shipping:region}, #{shipping:postcode}<br />#{shipping:country_id}<br />T: #{shipping:telephone} ]]></shipping_template>
            </addressreview>
        </onestepcheckout>
    </default>
</config>