<?xml version="1.0"?>
<config>
    <modules>
        <Entangled_Custom>
            <version>0.4.4</version>
        </Entangled_Custom>
    </modules>
    <global>
        <models>
            <entangled_custom>
                <class>Entangled_Custom_Model</class>
                <resourceModel>entangled_custom_resource</resourceModel>
            </entangled_custom>
            <entangled_custom_resource>
                <class>Entangled_Custom_Model_Resource</class>
            </entangled_custom_resource>
            <mageworx_customercredit>
                <rewrite>
                    <observer>Entangled_Custom_Model_Rewrite_CustomerCredit_Observer</observer>
                    <credit_log>Entangled_Custom_Model_Rewrite_CustomerCredit_Credit_Log</credit_log>
                    <email>Entangled_Custom_Model_Rewrite_CustomerCredit_Email</email>
                    <rules_handler>Entangled_Custom_Model_Rewrite_CustomerCredit_Rules_Handler</rules_handler>
                    <payment_method_customercredit>Entangled_Custom_Model_Rewrite_CustomerCredit_Payment_Method_Customercredit</payment_method_customercredit>
                    <credit>Entangled_Custom_Model_Rewrite_CustomerCredit_Credit</credit>
                </rewrite>
            </mageworx_customercredit>
            <amshopby>
                <rewrite>
                    <observer>Entangled_Custom_Model_Rewrite_Shopby_Observer</observer>
                </rewrite>
            </amshopby>
            <catalog_resource>
                <rewrite>
                    <product_collection>Entangled_Custom_Model_Rewrite_Resource_Catalog_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
        </models>
        <blocks>
            <entangled_custom>
                <class>Entangled_Custom_Block</class>
            </entangled_custom>
            <catalog>
                <rewrite>
                    <product_list_related>Entangled_Custom_Block_Rewrite_Catalog_Product_List_Related</product_list_related>
                    <product_list_upsell>Entangled_Custom_Block_Rewrite_Catalog_Product_List_Upsell</product_list_upsell>
                    <product_list>Entangled_Custom_Block_Rewrite_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
            <onestepcheckout>
                <rewrite>
                    <fields>Entangled_Custom_Block_Rewrite_OneStepCheckout_Checkout</fields>
                </rewrite>
            </onestepcheckout>
            <review>
                <rewrite>
                    <helper>Entangled_Custom_Block_Rewrite_Review_Helper</helper>
                </rewrite>
            </review>
            <customer>
                <rewrite>
                    <address_renderer_default>Entangled_Custom_Block_Rewrite_Customer_Address_Renderer_Default</address_renderer_default>
                </rewrite>
            </customer>
            <importexport>
                <rewrite>
                    <adminhtml_export_filter>Entangled_Custom_Block_Rewrite_ImportExport_Adminhtml_Export_Filter</adminhtml_export_filter>
                </rewrite>
            </importexport>
            <sales>
                <rewrite>
                    <recurring_profiles>Entangled_Custom_Block_Rewrite_Sales_Recurring_Profiles</recurring_profiles>
                    <order_history>Entangled_Custom_Block_Rewrite_Sales_Order_History</order_history>
                </rewrite>
            </sales>
            <mageworx_customercredit>
                <rewrite>
                    <customer_log>Entangled_Custom_Block_Rewrite_CustomerCredit_Customer_Log</customer_log>
                </rewrite>
            </mageworx_customercredit>
            <core>
                <rewrite>
                    <messages>Entangled_Custom_Block_Rewrite_Core_Messages</messages>
                </rewrite>
            </core>
            <monkey>
                <rewrite>
                    <customer_account_lists>Entangled_Custom_Block_Rewrite_MageMonkey_Lists</customer_account_lists>
                </rewrite>
            </monkey>
            <newsletter>
                <rewrite>
                    <subscribe>Entangled_Custom_Block_Rewrite_Newsletter_Subscribe</subscribe>
                </rewrite>
            </newsletter>
            <downloadable>
                <rewrite>
                    <sales_order_item_renderer_downloadable>Entangled_Custom_Block_Rewrite_Downloadable_Sales_Order_Item_Renderer_Downloadable</sales_order_item_renderer_downloadable>
                </rewrite>
            </downloadable>
            <page>
                <rewrite>
                    <html_header>Entangled_Custom_Block_Rewrite_Page_Html_Header</html_header>
                    <html_head>Entangled_Custom_Block_Rewrite_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <entangled_custom>
                <class>Entangled_Custom_Helper</class>
            </entangled_custom>
            <mageworx_customercredit>
                <rewrite>
                    <data>Entangled_Custom_Helper_Rewrite_CustomerCredit_Data</data>
                </rewrite>
            </mageworx_customercredit>
            <onestepcheckout>
                <rewrite>
                    <checkout>Entangled_Custom_Helper_Rewrite_OneStepCheckout_Checkout</checkout>
                </rewrite>
            </onestepcheckout>
        </helpers>
        <resources>
            <entangled_custom>
                <setup>
                    <module>Entangled_Custom</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </entangled_custom>
        </resources>
        <events>
            <controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
                <observers>
                    <mageworx_customercredit_onestepcheckout_ajax_set_methods_separate>
                        <class>MageWorx_CustomerCredit_Model_Observer</class>
                        <method>savePayment</method>
                    </mageworx_customercredit_onestepcheckout_ajax_set_methods_separate>
                </observers>
            </controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
            <controller_action_predispatch_customer_account_login>
                <observers>
                    <entangled_custom>
                        <class>entangled_custom/observer</class>
                        <method>controllerActionPredispatchCustomerAccountLogin</method>
                    </entangled_custom>
                </observers>
            </controller_action_predispatch_customer_account_login>
            <controller_action_predispatch_onestepcheckout_index_index>
                <observers>
                    <entangled_custom>
                        <class>entangled_custom/observer</class>
                        <method>controllerActionPredispatchOnestepcheckoutIndexIndex</method>
                    </entangled_custom>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_index>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <entangled_custom>
                        <class>entangled_custom/observer</class>
                        <method>controllerActionPredispatchNewsletterSubscriberNew</method>
                    </entangled_custom>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
            <newsletter_subscriber_save_before>
                <observers>
                    <entangled_custom>
                        <class>entangled_custom/observer</class>
                        <method>newsletterSubscriberSaveBefore</method>
                    </entangled_custom>
                </observers>
            </newsletter_subscriber_save_before>
            <checkout_cart_product_add_after>
                <observers>
                    <entangled_custom>
                        <class>Entangled_Custom_Model_Observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </entangled_custom>
                </observers>
            </checkout_cart_product_add_after>
            <controller_action_predispatch_monkey_signup_saveadditional>
                <observers>
                    <entangled_custom>
                        <class>entangled_custom/observer</class>
                        <method>controllerActionPredispatchMonkeySignupSaveadditional</method>
                    </entangled_custom>
                </observers>
            </controller_action_predispatch_monkey_signup_saveadditional>
        </events>
    </global>
    <default>
        <entangled_custom_author>
            <settings>
                <featured_author>322</featured_author>
            </settings>
        </entangled_custom_author>
    </default>
    <frontend>
        <layout>
            <updates>
                <entangled_custom>
                    <file>entangled_custom.xml</file>
                </entangled_custom>
            </updates>
        </layout>
        <routers>
            <wishlist>
                <args>
                    <modules>
                        <entangled_custom before="Mage_Wishlist">Entangled_Custom_Rewrite</entangled_custom>
                    </modules>
                </args>
            </wishlist>
            <newsletter>
                <args>
                    <modules>
                        <entangled_custom before="Mage_Newsletter">Entangled_Custom_Rewrite</entangled_custom>
                    </modules>
                </args>
            </newsletter>
            <litextension_ajaxlogin>
                <args>
                    <modules>
                        <entangled_custom before="LitExtension_AjaxLogin">Entangled_Custom_Rewrite</entangled_custom>
                    </modules>
                </args>
            </litextension_ajaxlogin>
        </routers>
    </frontend>
</config>