<?xml version="1.0"?>
<config>
    <modules>
        <SteveB27_EntangledImport>
            <version>0.1.0</version>
        </SteveB27_EntangledImport>
    </modules>
    <global>
        <resources>
            <entangledimport_setup>
                <setup>
                    <module>SteveB27_EntangledImport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </entangledimport_setup>
			<entangledimport_write>
				<connection>
					<use>core_write</use>
				</connection>
			</entangledimport_write>
			<entangledimport_read>
				<connection>
					<use>core_read</use>
				</connection>
			</entangledimport_read>
        </resources>
        <blocks>
            <entangledimport>
                <class>SteveB27_EntangledImport_Block</class>
            </entangledimport>
        </blocks>
        <helpers>
            <entangledimport>
                <class>SteveB27_Utility_Helper</class>
            </entangledimport>
        </helpers>
        <models>
            <entangledimport>
                <class>SteveB27_EntangledImport_Model</class>
                <resourceModel>entangledimport_resource</resourceModel>
            </entangledimport>
            <entangledimport_resource>
                <class>SteveB27_EntangledImport_Model_Resource</class>
            </entangledimport_resource>
        </models>
    </global>
</config>