<?xml version="1.0"?>
<!--
/**
 * Custom Publisher Models
 * 
 * Add custom model types, such as author, which can be used as a product
 * attribute while proviting additional details.
 * 
 * @license 	http://opensource.org/licenses/gpl-license.php GNU General Public License, Version 3
 * @copyright	Steven Brown March 12, 2016
 * @author		Steven Brown <steveb.27@outlook.com>
 */
-->
<config>
    <modules>
        <SteveB27_Publish>
            <version>1.1.1</version>
        </SteveB27_Publish>
    </modules>
    <global>
        <resources>
            <publish_setup>
                <setup>
                    <module>SteveB27_Publish</module>
                    <class>SteveB27_Publish_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </publish_setup>
			<publish_write>
				<connection>
					<use>core_write</use>
				</connection>
			</publish_write>
			<publish_read>
				<connection>
					<use>core_read</use>
				</connection>
			</publish_read>
        </resources>
        <blocks>
            <publish>
                <class>SteveB27_Publish_Block</class>
            </publish>
        </blocks>
        <helpers>
            <publish>
                <class>SteveB27_Publish_Helper</class>
            </publish>
        </helpers>
        <models>
            <publish>
                <class>SteveB27_Publish_Model</class>
                <resourceModel>publish_resource</resourceModel>
            </publish>
            <publish_resource>
                <class>SteveB27_Publish_Model_Resource</class>
                <entities>
                    <author>
                        <table>publish_author</table>
                    </author>
                    <author_char>
                        <table>publish_author_char</table>
                    </author_char>
                    <author_datetime>
                        <table>publish_author_datetime</table>
                    </author_datetime>
                    <author_decimal>
                        <table>publish_author_decimal</table>
                    </author_decimal>
                    <author_file>
                        <table>publish_author_file</table>
                    </author_file>
                    <author_int>
                        <table>publish_author_int</table>
                    </author_int>
                    <author_text>
                        <table>publish_author_text</table>
                    </author_text>
                    <author_varchar>
                        <table>publish_author_varchar</table>
                    </author_varchar>
                    <publish_eav_attribute>
                        <table>publish_eav_attribute</table>
                    </publish_eav_attribute>
                </entities>
            </publish_resource>
        </models>
        <events>
            <controller_front_init_routers><!-- event for custom router - url rewrites -->
                <observers>
                    <publish>
                        <class>SteveB27_Publish_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </publish>
                </observers>
            </controller_front_init_routers>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <publish_author/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <publish>
                    <file>publish.xml</file>
                </publish>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <publish before="Mage_Adminhtml">SteveB27_Publish_Adminhtml</publish>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <publish>
                <use>standard</use>
                <args>
                    <module>SteveB27_Publish</module>
                    <frontName>publish</frontName>
                </args>
            </publish>
        </routers>
        <layout>
            <updates>
                <publish>
                    <file>publish.xml</file>
                </publish>
            </updates>
        </layout>
        <translate>
            <modules>
                <SteveB27_Publish>
                    <files>
                        <default>publish.csv</default>
                    </files>
                </SteveB27_Publish>
            </modules>
        </translate>
    </frontend>
    <default>
        <publish>
            <author>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>author</url_prefix>
                <url_suffix>html</url_suffix>
                <rss>1</rss>
                <meta_title>Authors</meta_title>
            </author>
        </publish>
    </default>
</config>