<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_Elasticsearch>
            <version>4.1.2</version>
        </Bubble_Elasticsearch>
    </modules>
    <global>
        <resources>
            <bubble_elasticsearch_setup>
                <setup>
                    <module>Bubble_Elasticsearch</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </bubble_elasticsearch_setup>
        </resources>
        <models>
            <elasticsearch>
                <class>Bubble_Elasticsearch_Model</class>
                <resourceModel>elasticsearch_resource</resourceModel>
            </elasticsearch>
            <elasticsearch_resource>
                <class>Bubble_Elasticsearch_Model_Resource</class>
            </elasticsearch_resource>
            <catalogsearch>
                <rewrite>
                    <indexer_fulltext>Bubble_Elasticsearch_Model_Indexer_Fulltext</indexer_fulltext>
                </rewrite>
            </catalogsearch>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext_collection>Bubble_Elasticsearch_Model_Resource_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <blocks>
            <elasticsearch>
                <class>Bubble_Elasticsearch_Block</class>
            </elasticsearch>
            <catalogsearch>
                <rewrite>
                    <autocomplete>Bubble_Elasticsearch_Block_Catalogsearch_Autocomplete</autocomplete>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <elasticsearch>
                <class>Bubble_Elasticsearch_Helper</class>
            </elasticsearch>
            <catalogsearch>
                <rewrite>
                    <data>Bubble_Elasticsearch_Helper_Catalogsearch</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <events>
            <catalog_category_delete_commit_after>
                <observers>
                    <elasticsearch>
                        <class>elasticsearch/observer</class>
                        <method>onCategoryDeleteCommitAfter</method>
                    </elasticsearch>
                </observers>
            </catalog_category_delete_commit_after>
            <cms_page_save_commit_after>
                <observers>
                    <elasticsearch>
                        <class>elasticsearch/observer</class>
                        <method>onCmsPageSaveCommitAfter</method>
                    </elasticsearch>
                </observers>
            </cms_page_save_commit_after>
            <cms_page_delete_commit_after>
                <observers>
                    <elasticsearch>
                        <class>elasticsearch/observer</class>
                        <method>onCmsPageDeleteCommitAfter</method>
                    </elasticsearch>
                </observers>
            </cms_page_delete_commit_after>
        </events>
        <index>
            <indexer>
                <elasticsearch_category>
                    <model>elasticsearch/indexer_category</model>
                </elasticsearch_category>
                <elasticsearch_cms>
                    <model>elasticsearch/indexer_cms</model>
                </elasticsearch_cms>
            </indexer>
        </index>
    </global>
    <frontend>
        <events>
            <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <elasticsearch>
                        <class>elasticsearch/observer</class>
                        <type>singleton</type>
                        <method>onSearchResultRenderBefore</method>
                    </elasticsearch>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
        </events>
        <layout>
            <updates>
                <elasticsearch>
                    <file>bubble/elasticsearch.xml</file>
                </elasticsearch>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bubble_Elasticsearch>
                    <files>
                        <default>Bubble_Elasticsearch.csv</default>
                    </files>
                </Bubble_Elasticsearch>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <elasticsearch>
                        <class>elasticsearch/observer</class>
                        <type>singleton</type>
                        <method>onEavAttributeEditFormInit</method>
                    </elasticsearch>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <admin_system_config_section_save_after>
                <observers>
                    <elasticsearch>
                        <class>elasticsearch/observer</class>
                        <type>singleton</type>
                        <method>onConfigSectionSaveAfter</method>
                    </elasticsearch>
                </observers>
            </admin_system_config_section_save_after>
        </events>
        <translate>
            <modules>
                <Bubble_Elasticsearch>
                    <files>
                        <default>Bubble_Elasticsearch.csv</default>
                    </files>
                </Bubble_Elasticsearch>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <catalog>
            <search>
                <elasticsearch_enable_debug_mode>0</elasticsearch_enable_debug_mode>
                <elasticsearch_enable_suggest>1</elasticsearch_enable_suggest>
                <elasticsearch_servers>127.0.0.1:9200</elasticsearch_servers>
                <elasticsearch_verify_host>1</elasticsearch_verify_host>
                <elasticsearch_timeout>5</elasticsearch_timeout>
                <elasticsearch_index_prefix/>
                <elasticsearch_number_of_shards>1</elasticsearch_number_of_shards>
                <elasticsearch_number_of_replicas>0</elasticsearch_number_of_replicas>
                <elasticsearch_safe_reindex>1</elasticsearch_safe_reindex>
                <elasticsearch_query_operator>AND</elasticsearch_query_operator>
                <elasticsearch_enable_source>0</elasticsearch_enable_source>
                <elasticsearch_enable_fuzzy_query>1</elasticsearch_enable_fuzzy_query>
            </search>
        </catalog>
        <elasticsearch>
            <general>
                <enable_response_header>1</enable_response_header>
            </general>
            <autocomplete>
                <enable>1</enable>
                <enable_fast>1</enable_fast>
                <labels><![CDATA[a:8:{s:17:"_1444394906075_75";a:2:{s:5:"label";s:11:"All Results";s:11:"translation";s:0:"";}s:18:"_1444395051360_360";a:2:{s:5:"label";s:9:"No Result";s:11:"translation";s:0:"";}s:18:"_1444395063740_740";a:2:{s:5:"label";s:8:"Products";s:11:"translation";s:0:"";}s:18:"_1444395111175_175";a:2:{s:5:"label";s:10:"Categories";s:11:"translation";s:0:"";}s:18:"_1444395111775_775";a:2:{s:5:"label";s:5:"Pages";s:11:"translation";s:0:"";}s:18:"_1444395142842_842";a:2:{s:5:"label";s:5:"From:";s:11:"translation";s:0:"";}s:18:"_1444395143346_346";a:2:{s:5:"label";s:3:"To:";s:11:"translation";s:0:"";}s:18:"_1444395179486_486";a:2:{s:5:"label";s:12:"Starting at:";s:11:"translation";s:0:"";}}]]></labels>
                <limit>5</limit>
            </autocomplete>
            <product>
                <auto_redirect>0</auto_redirect>
                <enable>1</enable>
                <enable_autocomplete>1</enable_autocomplete>
                <image_size>50</image_size>
                <enable_thumbnails_generation>1</enable_thumbnails_generation>
            </product>
            <category>
                <enable>1</enable>
                <enable_autocomplete>1</enable_autocomplete>
                <enable_search>1</enable_search>
                <limit/>
                <show_path>1</show_path>
                <attributes><![CDATA[name,description]]></attributes>
            </category>
            <cms>
                <enable>1</enable>
                <enable_autocomplete>1</enable_autocomplete>
                <enable_search>1</enable_search>
                <limit/>
                <attributes><![CDATA[identifier,title,content_heading,content]]></attributes>
                <excluded_pages/>
            </cms>
        </elasticsearch>
    </default>
</config>