<?xml version="1.0"?>
<config>
    <modules>
        <AW_Extradownloads>
            <version>1.0.3</version>
        </AW_Extradownloads>
    </modules>
    <global>
        <blocks>
            <extradownloads>
                <class>AW_Extradownloads_Block</class>
            </extradownloads>
        </blocks>
        <helpers>
            <extradownloads>
                <class>AW_Extradownloads_Helper</class>
            </extradownloads>
        </helpers>
        <models>
            <extradownloads>
                <class>AW_Extradownloads_Model</class>
                <resourceModel>extradownloads_entity</resourceModel>
            </extradownloads>
            <extradownloads_entity>
                <class>AW_Extradownloads_Model_Entity</class>
                <entities>
                    <file>
                        <table>aw_ed_file_entity</table>
                    </file>
                </entities>
            </extradownloads_entity>
        </models>
        <resources>
            <extradownloads_setup>
                <setup>
                    <module>AW_Extradownloads</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extradownloads_setup>
            <extradownloads_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extradownloads_write>
            <extradownloads_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extradownloads_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <extradownloads>
                    <file>extradownloads.xml</file>
                </extradownloads>
            </updates>
        </layout>
        <routers>
            <extradownloads>
                <use>standard</use>
                <args>
                    <module>AW_Extradownloads</module>
                    <frontName>extradownloads</frontName>
                </args>
            </extradownloads>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <extradownloads>
                    <file>extradownloads.xml</file>
                </extradownloads>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <extradownloads>
                                            <title>aheadWorks - Extra Downloads</title>
                                        </extradownloads>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <AW_Extradownloads>
                    <files>
                        <default>AW_Extradownloads.csv</default>
                    </files>
                </AW_Extradownloads>
            </modules>
        </translate>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <extra_downloadable_observer>
                        <type>singleton</type>
                        <class>extradownloads/observer</class>
                        <method>prepareProductSave</method>
                    </extra_downloadable_observer>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <awextradownloads after="Mage_Adminhtml">AW_Extradownloads_Adminhtml</awextradownloads>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <extradownloads>
            <general>
                <enabled>1</enabled>
                <default_title>Extra Downloads</default_title>
            </general>
        </extradownloads>
    </default>
</config>