<?xml version="1.0"?>
<!--
/**
 * @category	Infortis
 * @package		Infortis_UltraSlideshow
 * @author		Infortis
 * @copyright	Copyright 2012 Infortis
 */
-->
<config>
    <modules>
        <Infortis_UltraSlideshow>
            <version>1.0.0</version>
        </Infortis_UltraSlideshow>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ultraslideshow>
                    <file>infortis_ultraslideshow.xml</file>
                </ultraslideshow>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ultraslideshow>
                <class>Infortis_UltraSlideshow_Model</class>
            </ultraslideshow>
        </models>
        <blocks>
            <ultraslideshow>
                <class>Infortis_UltraSlideshow_Block</class>
            </ultraslideshow>
        </blocks>
        <helpers>
            <ultraslideshow>
                <class>Infortis_UltraSlideshow_Helper</class>
            </ultraslideshow>
        </helpers>
    </global>
	<default>
		<ultraslideshow>
			<general>
				<effect></effect>
				<!--<easing>easeInOutCubic</easing>-->
				<timeout>10000</timeout>
				<speed>200</speed>
                <auto_speed>500</auto_speed>
				<smooth_height>0</smooth_height>
				<pause>1</pause>
				<loop>1</loop>
                <hide>0</hide>
                <blocks>block_slide1,block_slide2,block_slide3</blocks>
                <position1>0</position1>
                <position2>1</position2>
				<margin_top></margin_top>
                <margin_bottom></margin_bottom>
			</general>
			<banners>
				<position>right</position>
				<hide>1</hide>
                <banners>block_slideshow_banners</banners>
			</banners>
            <navigation>
                <pagination>slider-pagination2</pagination>
                <pagination_position>pagination-pos-over-bottom-centered</pagination_position>
            </navigation>
		</ultraslideshow>
	</default>
</config>