<!--@subject New points for you, {{var customer_name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>New points added to your Entangled Fanatic rewards program.</h1>
            <p>Hey {{var customer_name}},</p>
            <p>
                Your receipt for your recent purchase is being sent shortly. Meanwhile,
                here is your NEW Entangled Fanatic Rewards Point balance: {{var points_balance}}.
            </p>
            <p>
                Go to <strong style="font-weight: bold;"><a href="{{store url='customer/account/login'}}">My Account</a></strong> in the
                black bar of every page to view your points balance, review your recent purchases, and update any information you need.
                You can print a receipt there, too.
            </p>
            <p>
                If you have any questions about the program, your order, or other book issues, we’re happy to help.
                Just email us at <a href="mailto:{{var store_email}}">{{var store_email}}</a>.
            </p>
            <p>See you again soon!<br/>
            The Entangled Publishing Team</p>
            <br/>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
