<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Magenotification>
            <version>0.1.3</version>
        </Magestore_Magenotification>
    </modules>
    <admin>
        <routers>
			<magenotification>
				<use>standard</use>
				<args>
					<module>Magestore_Magenotification</module>
					<frontName>magenotification</frontName>
				</args>
			</magenotification>
        </routers>
    </admin>
    <adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
				  <magestore_magenotification_observer>
					<type>singleton</type>
					<class>magenotification/observer</class>
					<method>controllerActionPredispatch</method>
				  </magestore_magenotification_observer>
			   </observers>					
			</controller_action_predispatch>		
		</events>			
		<layout>
			<updates>
				<magenotification>
					<file>magenotification.xml</file>
				</magenotification>
			</updates>
		</layout>        
    </adminhtml>   
    <global>
        <models>
            <magenotification>
                <class>Magestore_Magenotification_Model</class>
                <resourceModel>magenotification_mysql4</resourceModel>
            </magenotification>
            <magenotification_mysql4>
                <class>Magestore_Magenotification_Model_Mysql4</class>
                <entities>
                    <magenotification>
                        <table>magenotification</table>
                    </magenotification>
                    <feedback>
                        <table>magenotification_extension_feedback</table>
                    </feedback>			
                    <feedbackmessage>
                        <table>magenotification_extension_feedbackmessage</table>
                    </feedbackmessage>							
                    <logger>
                        <table>magenotification_log</table>
                    </logger>
                    <license>
                    	<table>magenotification_license</table>
					</license>
                </entities>
            </magenotification_mysql4>
        </models>
        <resources>
            <magenotification_setup>
                <setup>
                    <module>Magestore_Magenotification</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magenotification_setup>
            <magenotification_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magenotification_write>
            <magenotification_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magenotification_read>
        </resources>
        <blocks>
            <magenotification>
                <class>Magestore_Magenotification_Block</class>
            </magenotification>
        </blocks>
        <helpers>
            <magenotification>
                <class>Magestore_Magenotification_Helper</class>
            </magenotification>
        </helpers>
    </global>
	<default>
		<magenotification>
			<general>				
				<frequency>24</frequency>
				<last_update backend_model="magenotification/source_time"></last_update>
				<magestore_url>http://www.magestore.com/index.php</magestore_url>
			</general>		
		</magenotification>
	</default>		
</config>