<?xml version="1.0"?>
<config>
    <modules>
        <Entangled_Bannerslider>
            <version>0.1.0</version>
        </Entangled_Bannerslider>
    </modules>
    <global>
        <models>
            <entangled_bannerslider>
                <class>Entangled_Bannerslider_Model</class>
                <resourceModel>entangled_bannerslider_resource</resourceModel>
            </entangled_bannerslider>
            <entangled_bannerslider_resource>
                <class>Entangled_Bannerslider_Model_Resource</class>
            </entangled_bannerslider_resource>
        </models>
        <blocks>
            <entangled_bannerslider>
                <class>Entangled_Bannerslider_Block</class>
            </entangled_bannerslider>
            <bannerslider>
                <rewrite>
                    <adminhtml_banner_edit_tab_form>Entangled_Bannerslider_Block_Bannerslider_Adminhtml_Banner_Edit_Tab_Form</adminhtml_banner_edit_tab_form>
                </rewrite>
            </bannerslider>
        </blocks>
        <helpers>
            <entangled_bannerslider>
                <class>Entangled_Bannerslider_Helper</class>
            </entangled_bannerslider>
            <bannerslider>
                <rewrite>
                    <data>Entangled_Bannerslider_Helper_Rewrite_Bannerslider_Data</data>
                </rewrite>
            </bannerslider>
        </helpers>
        <resources>
            <entangled_bannerslider_setup>
                <setup>
                    <module>Entangled_Bannerslider</module>
                </setup>
            </entangled_bannerslider_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <entangled_custom before="Magestore_Bannerslider_Adminhtml">Entangled_Bannerslider_Rewrite_Adminhtml</entangled_custom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>