<?xml version="1.0"?>
<config>
    <modules>
        <Entangled_Returns>
            <version>0.1.3</version>
        </Entangled_Returns>
    </modules>
    <frontend>
        <layout>
            <updates>
                <entangled_returns>
                    <file>entangled_returns.xml</file>
                </entangled_returns>
            </updates>
        </layout>
        <routers>
            <entangled_returns>
                <use>standard</use>
                <args>
                    <module>Entangled_Returns</module>
                    <frontName>returns</frontName>
                </args>
            </entangled_returns>
        </routers>
    </frontend>
    <global>
        <blocks>
            <entangled_returns>
                <class>Entangled_Returns_Block</class>
            </entangled_returns>
            <downloadable>
                <rewrite>
                    <customer_products_list>Entangled_Returns_Block_Rewrite_Downloadable_Customer_Products_List</customer_products_list>
                </rewrite>
            </downloadable>
        </blocks>
        <template>
            <email>
                <sales_email_returns_request_template translate="label" module="sales">
                    <label>Return Request</label>
                    <file>sales/returns_request.html</file>
                    <type>html</type>
                </sales_email_returns_request_template>
            </email>
        </template>
        <models>
            <entangled_returns>
                <class>Entangled_Returns_Model</class>
                <resourceModel>entangled_returns_resource</resourceModel>
            </entangled_returns>
            <entangled_returns_resource>
                <class>Entangled_Returns_Model_Resource</class>
                <entities>
                    <request>
                        <table>returns_request</table>
                    </request>
                </entities>
            </entangled_returns_resource>
        </models>
        <helpers>
            <entangled_returns>
                <class>Entangled_Returns_Helper</class>
            </entangled_returns>
        </helpers>
        <resources>
            <entangled_returns_setup>
                <setup>
                    <module>Entangled_Returns</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </entangled_returns_setup>
        </resources>
    </global>
    <default>
        <sales_email>
            <returns_request>
                <contact>info@entangledpublishing.com</contact>
                <subject>Return Request</subject>
            </returns_request>
        </sales_email>
    </default>
</config>