<?xml version="1.0"?>
<config>
    <modules>
        <AW_All>
            <version>2.3.5</version>
        </AW_All>
    </modules>

    <global>
        <blocks>
            <awall>
                <class>AW_All_Block</class>
            </awall>
            <adminhtml>
                <rewrite>
                    <notification_window>AW_All_Block_Notification_Window</notification_window>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <awall_setup>
                <setup>
                    <module>AW_All</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awall_setup>
            <awall_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awall_write>
            <awall_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awall_read>
        </resources>
        <models>
            <awall>
                <class>AW_All_Model</class>
            </awall>
        </models>

        <helpers>
            <awall>
                <class>AW_All_Helper</class>
            </awall>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <awall after="Mage_Adminhtml">AW_All_Adminhtml</awall>
                        <frontName>awall</frontName>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <awall module="AW_All">
                    <file>aw_all.xml</file>
                </awall>
            </updates>
        </layout>

        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awall>
                                            <title>aheadWorks - All</title>
                                        </awall>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch>
                <observers>
                    <awall_exts>
                        <type>singleton</type>
                        <class>awall/feed_extensions</class>
                        <method>check</method>
                    </awall_exts>
                    <awall_upds>
                        <type>singleton</type>
                        <class>awall/feed_updates</class>
                        <method>check</method>
                    </awall_upds>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_render_before_adminhtml_system_config_edit>
                <observers>
                    <awall_tabs_sorting>
                        <type>singleton</type>
                        <class>awall/observer</class>
                        <method>prepareAWTabs</method>
                    </awall_tabs_sorting>
                </observers>
            </controller_action_layout_render_before_adminhtml_system_config_edit>
        </events>
    </adminhtml>
    <default>
        <awall>
            <feed>
                <url>ecommerce.aheadworks.com/blog/feed/?tag=feed&amp;community=1</url>
                <use_https>0</use_https>
                <check_frequency>86400</check_frequency>
                <enabled>1</enabled>
                <interests>INFO,PROMO,UPDATE_RELEASE,NEW_RELEASE,INSTALLED_UPDATE</interests>
            </feed>
        </awall>
    </default>
    <crontab>
        <jobs>
            <aw_all_cron>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>awall/cron::run</model>
                </run>
            </aw_all_cron>
        </jobs>
    </crontab>
</config>